version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: travel-planner-backend
    ports:
      - "8080:8080"

  frontend:
    build:
      context: .
      dockerfile: front-end/Dockerfile.frontend
    container_name: travel-planner-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
