version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: travel-planner-backend
    ports:
      - "8080:8080"
    environment:
      - ALIBABA_APIKEY=${ALIBABA_APIKEY}
      - BMAP_SERVER_AK=${BMAP_SERVER_AK}
      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  frontend:
    build:
      context: .
      dockerfile: front-end/Dockerfile.frontend
    container_name: travel-planner-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_CLOUDBASE_ENV=${REACT_APP_CLOUDBASE_ENV}
      - REACT_APP_IFLYTEK_APPID=${REACT_APP_IFLYTEK_APPID}
      - REACT_APP_IFLYTEK_APISECRET=${REACT_APP_IFLYTEK_APISECRET}
      - REACT_APP_IFLYTEK_APIKEY=${REACT_APP_IFLYTEK_APIKEY}
      - REACT_APP_BAIDU_AK=${REACT_APP_BAIDU_AK}
