name: Build and Push Docker Images

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Alibaba Cloud Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.ALIYUN_REGISTRY }}
        username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
        password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}

    # -------- 构建并推送后端镜像 --------
    - name: Build and push backend image
      run: |
        docker build -f Dockerfile.backend -t crpi-7la87v9sq5ni0tw7.cn-hangzhou.personal.cr.aliyuncs.com/xiaoyuanli/travel-planner:backend-latest .
        docker push crpi-7la87v9sq5ni0tw7.cn-hangzhou.personal.cr.aliyuncs.com/xiaoyuanli/travel-planner:backend-latest

    # -------- 构建并推送前端镜像 --------
    - name: Build and push frontend image
      run: |
        docker build -f front-end/Dockerfile.frontend -t crpi-7la87v9sq5ni0tw7.cn-hangzhou.personal.cr.aliyuncs.com/xiaoyuanli/travel-planner:frontend-latest .
        docker push crpi-7la87v9sq5ni0tw7.cn-hangzhou.personal.cr.aliyuncs.com/xiaoyuanli/travel-planner:frontend-latest

